#define NETWORK_PASSWORD "network password"
#define NETWORK_LIST { \
	WIFI_CONN("ssid 1", NETWORK_PASSWORD, NULL, 0), \
	WIFI_CONN("ssid 2", NETWORK_PASSWORD, NULL, 0), \
        NULL, \
        }
#define MESH_PASSWORD    "esp8266_sensor_mesh"
#define MQTT_SERVERS     { \
        MQTT_CONN("mqtt.ip.1"), \
        NULL, \
        }

/* Only used if SSL is enabled */
#define MESH_SECURE      true

