#define NETWORK_LIST { \
             "ssid 1",     \
             "ssid 2", \
             "",            \
             }
#define MQTT_SERVERS     { \
        MQTT_CONN("mqtt.ip.1"), \
        NULL, \
        }
#define MESH_PASSWORD    "esp8266_sensor_mesh"
#define BASE_SSID        "mesh_esp8266-"
#define MESH_PORT        1884

